<!-- <p id="description" style="text-align: justify;"> <br>
    <br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore nam beatae reiciendis soluta ipsa in necessitatibus, voluptatum laudantium deleniti voluptas obcaecati ducimus deserunt. Quos cumque iusto molestias doloribus fugit. Quaerat?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere dolores similique explicabo sequi nam consequuntur reiciendis ex officiis numquam minus sit possimus dolorem suscipit rerum porro veritatis, aliquam voluptatem optio.
    <br><br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem quos cum ipsa totam eum aperiam, vitae perferendis minus recusandae esse optio ipsam dolorem distinctio quaerat laudantium est saepe atque rerum!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum minima sed sapiente similique exercitationem sequi, necessitatibus provident quae rem? Recusandae veniam quis iusto rerum quaerat iste? Non qui nihil itaque!
  </p>








 -->
 <div>
  <button mat-button (click)="openPopup()">Read More</button>
  
</div>