  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  
<div class="popup-container">
  <div class="popup-content">
    <h5 class="popup-title">Note</h5>
    <h5 class="popup-message">use of usability</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia cum voluptates quos asperiores. Dolorum ullam, iusto saepe illo repellendus, eligendi id laudantium ea officiis recusandae et repudiandae? Tempora, placeat facilis.
      
    </p>

    <h6>lorem ipsam</h6>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ducimus esse iste reiciendis ullam rem earum incidunt voluptatum sed, vero quod assumenda error omnis illum maiores modi natus atque nesciunt!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore magni impeditneque quis cumque reprehenderit a recusandae, optio quo, architecto autem provident nemo dolore aperiam error vel labore et harum.</p>
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <button type="button" class="btn-close" aria-label="Close" mat-button (click)="closePopup()"></button>
    <button class="btn btn-dark" id="savebutton">Save Notes</button>
    
    
  </div>
</div>

